[submodule "tools/pico/pico-sdk"]
	path = tools/pico/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "tools/pico/picotool"]
	path = tools/pico/picotool
	url = git@github.com:raspberrypi/picotool.git
[submodule "tools/pico/pico-examples"]
	path = tools/pico/pico-examples
	url = git@github.com:raspberrypi/pico-examples.git
[submodule "tools/PX4-Autopilot"]
	path = tools/PX4-Autopilot
	url = git@github.com:PX4/PX4-Autopilot.git
[submodule "tools/riscv-gnu-toolchain"]
	path = tools/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
